Ejercicio 1
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados

In [1]:
mat=1821695
print("Jorge Adrian Gonzalez Peña", mat)

Jorge Adrian Gonzalez Peña 1821695

Ejercicio 2:
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

Utilizando el loop de while

In [4]:
op=0
while op != 1:
    input()
    a = int(input("Introduce un número:" ))
    b = int(input("Introduce otro número: "))
    print("1.Suma (a+b) 2.Resta (a-b) 3.Multiplicacion (a*b) 4.Division (a/b) 5.Salir")
    opc = int(input("Seleccione una opcion:" ))
    if opc==1:
         print("Resultado-->",a+b)
    elif opc==2:
        print("Resultado-->",a-b)
    elif opc==3:
        print("Resultado-->",a*b)
    elif opc==4:
        print("Resultado-->",a/b)
    elif opc==5:
        print("Adios")
        op=1
    else:
        print("Opcion no valida")

3
Introduce un número:3
Introduce otro número: 5
1.Suma (a+b) 2.Resta (a-b) 3.Multiplicacion (a*b) 4.Division (a/b) 5.Salir
Seleccione una opcion:2
Resultado--> -2
1
Introduce un número:5
Introduce otro número: 5
1.Suma (a+b) 2.Resta (a-b) 3.Multiplicacion (a*b) 4.Division (a/b) 5.Salir
Seleccione una opcion:5
Adios

Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [6]:
lista=[]
for i in range(1,11,1):
    lista.append(i*3)
suma=0
print("El arreglo es-->", lista)
for i in range(0,10,1):
    suma=suma+lista[i]
print("La suma del arreglo es-->", suma)

El arreglo es--> [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
La suma del arreglo es--> 165

Ejercicio 4
Con una función de if else, revisar si un número es par o es impar. Con una función de if else, revisar si un número es primo o no.

In [7]:

a = int(input("Introduce un número:" ))
if a%2==0:
    print("El numero",a," es par")
else:
    print("El numero",a," es impar")
for i in range(2,a):
    if a%i==0:
        print("El numero",a," no es primo")
        break
else:
    print("El numero",a," es primo")

Introduce un número:5
El numero 5  es impar
El numero 5  es primo

Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [8]:
def suma(a,b):
    return a+b
def resta(a,b):
    return a-b
def mult(a,b):
    return a*b
def divi(a,b):
    return a/b
op=0
while op != 1:
    input()
    a = int(input("Introduce un número:" ))
    b = int(input("Introduce otro número: "))
    print("1.Suma (a+b) 2.Resta (a-b) 3.Multiplicacion (a*b) 4.Division (a/b) 5.Salir")
    opc = int(input("Seleccione una opcion:" ))
    if opc==1:
         print("Resultado-->",suma(a,b))
    elif opc==2:
        print("Resultado-->",resta(a,b))
    elif opc==3:
        print("Resultado-->",mult(a,b))
    elif opc==4:
        print("Resultado-->",divi(a,b))
    elif opc==5:
        print("Adios")
        op=1
    else:
        print("Opcion no valida")

1
Introduce un número:1
Introduce otro número: 1
1.Suma (a+b) 2.Resta (a-b) 3.Multiplicacion (a*b) 4.Division (a/b) 5.Salir
Seleccione una opcion:1
Resultado--> 2
5
Introduce un número:5
Introduce otro número: 5
1.Suma (a+b) 2.Resta (a-b) 3.Multiplicacion (a*b) 4.Division (a/b) 5.Salir
Seleccione una opcion:5
Adios

Ejercicios con estructuras básicas de python.
Tuplas
Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.
Crear una tupla con valores enteros imprimir el primer y ultimo valor.
Añadir 3 valores de string a la tupla.
Verificar si una variable existe dentro de la tupla.

In [9]:
flotante=7.7456
entero=1
boleano=False
compleja=3+9j

In [10]:
print(type(flotante))
print(type(entero))
print(type(boleano))
print(type(compleja))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>

In [17]:
a=(10,35,14,16)
print(a[0],"," ,a[-1])

10 , 16

In [18]:
a=a+("añado", "un", "valor")
a

(10, 35, 14, 16, 'añado', 'un', 'valor')

In [19]:
"un" in a, 100 in a

(True, False)

Listas
Crear una lista con 40 elementos aleatorios enteros.
Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.
Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.
Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.
Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [20]:
from random import randint
lista=[randint(1, 1000) for i in range(40)]
lista

[7,
 738,
 258,
 389,
 935,
 900,
 336,
 236,
 1000,
 588,
 433,
 647,
 103,
 488,
 893,
 725,
 717,
 252,
 746,
 231,
 497,
 986,
 875,
 41,
 661,
 76,
 565,
 539,
 266,
 684,
 70,
 461,
 398,
 647,
 671,
 677,
 317,
 710,
 994,
 523]

In [21]:
def separador(lista):
    ab=len(lista)
    pares=[]
    impares=[]
    for i in range(ab):
        if lista[i]%2==0:
            pares.append(lista[i])
        else:
            impares.append(lista[i])
    return pares,impares
pares, impares=separador(lista)
print("Pares=", pares)
print("Impares=",impares)

Pares= [738, 258, 900, 336, 236, 1000, 588, 488, 252, 746, 986, 76, 266, 684, 70, 398, 710, 994]
Impares= [7, 389, 935, 433, 647, 103, 893, 725, 717, 231, 497, 875, 41, 661, 565, 539, 461, 647, 671, 677, 317, 523]

In [23]:
longpar=len(pares)
longimpar=len(impares)
print("Longitudes:")
print("Pares=", longpar)
print("Impares=",longimpar)

Longitudes:
Pares= 18
Impares= 22

In [24]:
pares.sort(reverse=True)
impares.sort()
print("Pares=", pares)
print("Impares=",impares)

Pares= [1000, 994, 986, 900, 746, 738, 710, 684, 588, 488, 398, 336, 266, 258, 252, 236, 76, 70]
Impares= [7, 41, 103, 231, 317, 389, 433, 461, 497, 523, 539, 565, 647, 647, 661, 671, 677, 717, 725, 875, 893, 935]

In [26]:
import random as rd
list_ejemplo=rd.sample(lista,10)
print(list_ejemplo)

[103, 986, 336, 565, 461, 588, 252, 677, 746, 647]

In [27]:
list_ejemplo.append(1000)
print(list_ejemplo)

[103, 986, 336, 565, 461, 588, 252, 677, 746, 647, 1000]

In [28]:
list_ejemplo.insert(4, "cuatro")
print(list_ejemplo)

[103, 986, 336, 565, 'cuatro', 461, 588, 252, 677, 746, 647, 1000]

In [29]:
list_ejemplo.reverse()
print(list_ejemplo)

[1000, 647, 746, 677, 252, 588, 461, 'cuatro', 565, 336, 986, 103]

In [30]:

list_ejemplo.pop(8)
print(list_ejemplo)

[1000, 647, 746, 677, 252, 588, 461, 'cuatro', 336, 986, 103]

Diccionarios
Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.
Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.
Usando el diccionario y un loop, imprimir solo los nombres.
Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [31]:
diccionario={"Jorge":20,"Paty":21,"Luis":20,"Paco":20,"Yahir":20,"Marcelo":21}
diccionario

{'Jorge': 20, 'Paty': 21, 'Luis': 20, 'Paco': 20, 'Yahir': 20, 'Marcelo': 21}

In [32]:
edades=[i for i in diccionario.values()]
edades.sort()
print(edades)

[20, 20, 20, 20, 21, 21]

In [33]:
for i in diccionario:
    print(i)

Jorge
Paty
Luis
Paco
Yahir
Marcelo

In [34]:
diccionario["Sara"]=22
diccionario["Wong"]=20
diccionario

{'Jorge': 20,
 'Paty': 21,
 'Luis': 20,
 'Paco': 20,
 'Yahir': 20,
 'Marcelo': 21,
 'Sara': 22,
 'Wong': 20}

Sets
Crea un set con 100 numeros aleatorios enteros del 1 al 25.
Comprueba la longitud de tu set.
Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [72]:
s={randint(1,25) for i in range(100)}
s

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25}

In [73]:

print(len(s))

25

In [74]:
l=[r.randint(1,10) for i in range(5)]
l

[7, 8, 2, 3, 2]

In [75]:
for i in range(len(l)):
    print("¿",l[i]," está en el set? ",l[i] in s)

¿ 7  está en el set?  True
¿ 8  está en el set?  True
¿ 2  está en el set?  True
¿ 3  está en el set?  True
¿ 2  está en el set?  True